h1=title 
p Id:
  input(type="text")
p door number:
  input(type="text")
p street name:
  input(type="text")
p town:
  input(type="text")
p city :
  input(type="text")
p district:
  input(type="text")
p state:
  input(type="text")
p pin code;
  input(type="text")

a(href="http://localhost:3000")  save and back to home 