
p ID:
  input(type="text")
p firstname: 
  input(type="text")
p lostname:
  input(type="text")  
p DOB :
  input(type="text")
p age:
  input(type="text")

 a(href="http://localhost:3000")  save and back to home 
  