
block content
table 
  thead list of users
    tr 
      td ID
      td First name 
      td Second name 
      td DOB
      td Age
    tr 
      td 1010 .
      td Alakya 
      td Rapuru
      td 07/04/2000
      td 23
    tr 
      td 1011 .
      td Praveen 
      td Rapuru 
      td 02/01/2001
      td 21
    tr 
      td 1012 .
      td Chaithanya 
      td Madduru
      td 16/06/2001
      td 22


 a(href="http://localhost:3000")  back to home page
 