block content
  h1=title 
  form(method="post", action= "/update/#{id}"  )
    p FirstName: 
        input(type="text" id="FirstName" name="FName" value=FName)
    p LastdName: 
        input(type="text" id="LastName" name="LName" value= LName)
    p DOB: 
        input(type="text" id="DOB" name="Dob" value= Dob)
    p age: 
        input(type="text" id="age" name="Age" value= Age)
    input(type="submit" value='update' )
    
a(href= "http://localhost:3000" ) back to home page